

.main-content {
    min-width: 80%;
    max-width: 90%;
}

.news-feed {
    column-gap: 0;
    row-gap: 80px;
    min-width: 80%;
    max-width: 90%;
    margin: 0 auto;
}

.news-post {
    flex-direction: column;
    gap: 20px;
    max-width: 40%;
    height: auto;
    margin: 0 auto 30px;
}

@media (max-width: 768px) {
    .main-content {
        min-width: 90%;
        max-width: 100%;
    }

    .news-feed {
        column-gap: 0;
        row-gap: 80px;
        min-width: 90%;
        max-width: 100%;
        margin: 0 auto;
    }

    .news-post {
        flex-direction: column;
        gap: 20px;
        max-width: 100%;
        height: auto;
        margin: 0 auto 30px;
    }
}


.news-post:hover {
    transform: scale(1.02);
}

.news-image {
    width: 100%;
    height: 100%; /* Задаем фиксированную высоту, чтобы картинка была квадратной */
    object-fit: cover; /* Обрезаем изображение, чтобы сохранить квадратную форму */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.news-details {
    padding: 20px;
}

.news-summary {
    font-size: 1em;
    color: var(--secondary-text);
    margin: 15px 0;
}

.news-full-text {
    display: none;
    font-size: 0.9em;
    color: var(--text-color);
    margin-top: 10px;
    text-align: left;
}

.news-toggle {
    background-color: var(--accent);
    color: var(--bg-color);
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background 0.3s ease;
}

header h1 {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}